# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.DS_Store

template2/

template1/

cmake-build-debug/

\.idea/

cmake-build-debug-triton/

cmake-build-release/

cmake-build-db-mpicc-rtriton/

cmake-build-default-rtriton/test/CMakeFiles/nemo_tests\.dir/

cmake-build-default-rtriton/src/

cmake-build-debug-dockerrem/

cmake-build-debug-localmpi/

cmake-build-default-rtriton/test/

cmake-build-default-rtriton/
